/*
Style CSS di Apra, Copyleft (\C) 2012
*/

/*FONT FACE, from font folder get fonts*/
@font-face {
	font-family: Bebas;
	src: url('font/BEBAS.ttf');
}
/*SCROLLBAR*/
/****SCROLLBAR****/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar:horizzontal{
	height:12px;
}
::-webkit-scrollbar-track {
	background-color:#F1F1F1;
-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background-color:#f4343f
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:hover {
-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
*{
	margin:0;
	padding:0;
}
p, article, section, header, div, span, a{
	font-family:"Open Sans";
	
}
p{
	color:#616161;
	font-size: 0.9em
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Cabin';
	font-weight:bold;
	color:#333
}
h1 {
	font-size:2em;
}
h2 {
	font-size: 1.2em;
	font-weight: normal;
}
img{
	max-width:100%; /* And the magic happens... */
	outline: none;
	border:none;
}
li{
	list-style-type: none;	
}
a {
	outline: none;
	text-decoration:none;
	color:#f44f59;
	border:0;
	border-color:transparent;
	background-color:transparent;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
a:hover {
	color:#f4202c
}
.dot{
	font-family: 'Cabin';
}
.clearer{
	clear: both;
	float: none;
}
::selection {
	background-color:#f4343f;
	color:white;
}
input:focus {
	outline:none;
}
/*
* INDEX.HTML
*/
section#main{
	max-width:1000px;
	margin:0 auto;
}
section#main article{
	float:left;
	width:100%
}
section#main article h2.art-title{
	margin: 1%;
	width: 98%;
	font-size: 4em;
	cursor: pointer;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
section#main article .art-image{
	width: 68%;
	float: left;
	margin: 1%;
	cursor: pointer;
}
section#main article .content{
	float: left;
	width: 28%;
}
section#main article .content .iconclass{
	max-width:100px
}
section#main article .content h2{
	font-size:2.5em;
}
section#main article .content h2 a,section#main article .content h2{
	font-family: 'Bebas';
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	padding: 0px 2% 4px;
	margin-bottom: 10px;
}
section#main article#experiments .content h2 a,section#main article#experiments .content .tags .tag a{
	color: #f4343f;
}
section#main article#experiments .content h2 a:hover,section#main article#experiments .content .tags .tag a:hover{
	background-color: #f4343f;
	color: white;
}
section#main article#projects .content h2 a,section#main article#projects .content .tags .tag a{
	color: #a3d3f9;
}
section#main article#projects .content h2:hover a,section#main article#projects .content .tags .tag a:hover{
	background-color: #a3d3f9;
	color: white;
}
section#main article#thoughts .content h2 a,section#main article#thoughts .content .tags .tag a{
	color: #333333;
}
section#main article#thoughts .content h2:hover a,section#main article#thoughts .content .tags .tag a:hover{
	background-color: #333333;
	color: white;
}
section#main article .art-title .dot{
	color: #f4343f;
}
section#main article .content .tags .tag{
	margin: 10px 5px;
}
section#main article .content .tags .tag a{
	padding: 2px 5px;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
/*HEADER.HTML*/
header {
	width: 100%;
	height: 100px;
	float: left;
}
#top-bar{
	height: 41px;
	width: 300px;
	display: block;
	margin: 0 auto;
	float: right;	
}

#tweet-icon{
	background-color: #F44F59;
	height: 41px;
	float: left;
}
#top-bar #tweet{
	font-family: 'Cabin';
	font-weight: 700;
	background-color: #C2E1F9;
	height: 41px;
	line-height: 37px;
	float: left;
	width: 60%;
	color: white;
	font-size: 0.7em;
	overflow: hidden;
}
#top-bar ul:last-child, #top-bar ul:last-child a{
	width: 205px;
	float: left;
	font-family:'Bebas';
	font-size: 1.2em;
	color: white;
	line-height: 41px;
	text-align: center;
}

#top-bar ul:last-child .hub#fork {
	background-color:#a3d3f9;
	width:125px;
	height:41px;
	float: left;
}
#top-bar ul:last-child .hub#github {
	background-color:#f4343f;
	width:80px;
	height:41px;
	cursor:pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#top-bar ul:last-child .hub#github:hover {
	background-color:#333333
}
#festoonleft::after {
content: "";
position: relative;
left: 25px;
border-width: 25px 25px 25px 0px;
border-style: solid;
border-color: #F4343F transparent;
display: block;
width: 0;
float: right;
}
#festoonleft {
float: left;
width: 35%;
height: 50px;
background-color: #F4343F;
margin-top: 20px;
}
#festoonright::after {
content: "";
position: relative;
right: 25px;
border-width: 25px 0px 25px 25px;
border-style: solid;
border-color: #A3D3F9 transparent;
display: block;
width: 0;
float: left;
}
#festoonright {
float: right;
width: 35%;
height: 50px;
background-color: #A3D3F9;
margin-top: 20px;
}
#tit{
	float: left;
	width:30%;
	margin-top: 20px;
}
#tit #title img:first-child{
position: relative;
top: 4px;
float: left;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
margin-right: 5px;
}
#tit:hover #title img:first-child{
	top: 35px;
}
#title{
	width: 150px;
	margin: 0 auto;
}
/*FOOTER.HTML*/
footer {
	border-top:1px solid #cecece;
	width:100%;
	margin-top: 40px;
}
footer section {
	height:45px;
}
#footer-title {
	float:left;
	width:50px;
	margin-top:12px;
}
#footer-title img {
	max-width:100%;
	margin-left:2px;
}
#copyright{
	width: 340px;
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}
#copyright p {
	color:#333;
	font-size: 0.7em;
	float: left;
	margin: 15px 0 0 12px;
	width: 150px
}
/* MEDIA QUERIES*/
@media (max-width: 850px) {
	section#main article .art-image{
		max-width: 700px;
		margin: 0 auto;
		width:100%;
		float:none;		
	}
	section#main article .content{
		width: 100%;
		margin: 0 auto;
		max-width: 700px;
		float:none
	}
	section#main article .content h2{
		float: left;
	}
	section#main article .content .iconclass{
		display:none;
	}
	section#main article .content .tags .tag{
		float: left;
	}
}